.header_full {
    width: 100%;
    position: fixed;
    top: 0px;
    height: 128px;
    left: 0px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
    z-index: 1024;
    .logo {
        /*outlining the logo area for futureproofing, remove before production*/
        position: absolute;
        display: inline;
        margin: 0px 50px;
        height:128px;
        width: 128px;
        background-color: red;
    }
    .divider {
        display: inline;
        position: absolute;
        left: 229px;
        top: 0px;
        width: 1px;
        height: 128px;
        background-color: grey;
    }
    .header_content {
        z-index: 1023;
        display: inline-block;
        position: absolute;
        left: 229px;
        border-left: solid 1px #ececec;
        top: 0px;
        width: calc(100% - 230px);
        height: 128px;
        .header_top {
            display: block;
            width: 100%;
            height:87px;
            border-bottom: solid 1px #ececec;
        }
        .header_bottom {
            display: block;
            width: 100%;
            height: 40px;
        }
    }
}
.header_partial {
    
}
